.history-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__right {
    width: 350px;
    padding-right: 25px;
    @media screen and (max-width: 1550px) {
      width: 100%;
      display: flex;
      margin-bottom: 15px;
      align-items: flex-start;
      flex-wrap: wrap;
      padding-right: 0;
    }
    @media screen and (max-width: 683px) {
      padding-right: 0;
    }
    .select-action {
      margin-bottom: 46px;
      @media screen and (max-width: 1550px) {
        flex-basis: 380px;
        margin-right: 15px;
      }
      @media screen and (max-width: 683px) {
        width: 100%;
        flex-basis: inherit;
        margin-right: 0;
      }
      .select-title {
        @media screen and (max-width: 683px) {
          display: none;
        }
      }
    }
  }
  &__left {
    flex-grow: 1;
    width: 1054px;
    padding-left: 25px;
    @media screen and (max-width: 1550px) {
      width: 100%;
      padding-left: 0;
    }
    .pagination {
      @media screen and (max-width: 1770px) {
        width: 100%;
      }
    }
  }
}

.history-approved {
  color: #3183c2;
}

.history-download {
  color: #1c9951;
}